{% extends 'base.html' %}
{% block content %}

{% if animal_type == 'bugs' %}
<h1>Configuration Page for Bugs</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="configuration-container">
        <div class="row">
        {% for bug in bugs %}
            <div class="col l12 m12 s12">
                {% if bug.name in bugs_donated %}
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <h4>{{ bug.name|title }}</h4>
                        <img src="{{ bug.image_url }}">
                    </label>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="database-delete">
            <input type="submit" class="btn" value="Confirm Changes">
        </div>
    </div>
</form>
{% elif animal_type == 'fish' %}
<h1>Configuration Page for Fish</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="configuration-container">
        <div class="row">
        {% for single_fish in fish %}
            <div class="col l12 m12 s12">
                {% if single_fish.name in fish_donated %}
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <h4>{{ single_fish.name|title }}</h4>
                        <img src="{{ single_fish.image_url }}">
                    </label>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="database-delete">
            <input type="submit" class="btn" value="Confirm Changes">
        </div>
    </div> 
</form>

{% endif %}

{% endblock %}