{% extends 'base.html' %}
{% block content %}
{% if animal_type == 'fish' %}
<div class="fish-title">
    <h1>Fishies!</h1>
    <a class="waves-effect waves-light btn" href="{% url 'fish_config' %}">Configure List</a>
</div>
<div class="container">
    <div class="row">
        {% for single_fish in fish %}
        <div class="col l12 m12 s12 fishies">
            <div class="fish-image">
                <img src="{{single_fish.image_url}}">
            </div>
            <div class="fish-name">
                <span>{{single_fish.name.title | title}}</span>
            </div>
            <div class="detail-buttons">
                <div class="fish-got-it">
                    <form method="POST" action="{% url 'fish_got' single_fish.name %}">
                        {% csrf_token %}
                        <input type="submit" value="Got it!" class="waves-effect waves-light btn">
                    </form>
                </div>
                <div class="fish-details-button">
                    <a class="waves-effect waves-light btn" href="{% url 'fish_details' single_fish.name %}">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% elif animal_type == 'bugs' %}
<div class="bug-title">
    <h1>Bugz!</h1>
    <a class="waves-effect waves-light btn" href="{% url 'bugs_config' %}">Configure List</a>
</div>
<div class="container">
    <div class="row">
        {% for bug in bugs%}
        <div class="col l12 m12 s12 bugz">
            <div class="bug-image">
                <img src="{{bug.image_url}}">
            </div>
            <div class="bug-name">
                <span>{{bug.name | title}}</span>
            </div>
            <div class="detail-buttons">
                <div class="bug-got-it">
                    <form method="POST" action="{% url 'bug_got' bug.name %}">
                        {% csrf_token %}
                        <input type="submit" value="Got it!" class="waves-effect waves-light btn">
                    </form>
                </div>
                <div class="bug-details-button">
                    <a class="waves-effect waves-light btn" href="{%url 'bug_details' bug.name %}">Details</a>
                </div>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>


{% endif %}

{% endblock %}