{% extends 'base.html' %}
{% block content %}

<div class="about-page">

    <h1 class="about-about-page">About Museum Tracker</h1>
    <h4 class="about-text">We started this site to help users check off what they have collected while playing Animal Crossing New Horizons. 
        If you have played, and you get frustrated trying to remember what all you have collected to put into your museum, this is the app for you! 
    creating a handwritten list, or typing eaach item out individually in a new notes file can get exhausting! This is our solution!</h4>

    <div class="get-started">
        <h3 class="text-title-2">How It Works</h3>
        <h4 class="get-started-text">Start by logging in or creating an account. After you have signed in, you will be able to access 
            information on different collectibles. In the navigation bar, located in the top right of each page, you are able to jump 
            from one type of collectible to another. From here, you will be able to see everything you ned to see!</h4>
    </div>
</div>    


{% endblock %}