{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Museum Tracker</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block custom_css %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js" defer></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue accent-2">
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="{% url 'home' %}" class="brand-logo">&nbsp;Museum Tracker 🔍</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'bugs_index' %}">Bugs</a></li>
                    <li><a href="{% url 'fish_index' %}">Fish</a></li>
                    <li><a href="{% url 'fossils_index' %}">Fossils</a></li>
                    <li class="custom-logout">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <div class="logout-btn">
                            <button class="btn" type="submit">Log Out</button>
                            </div>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a class="btn" href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>  
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="{% url 'home' %}">Museum Tracker</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'bugs_index' %}">Bugs</a></li>
            <li><a href="{% url 'fish_index' %}">Fish</a></li>
            <li><a href="{% url 'fossils_index' %}">Fossils</a></li>
            <li>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <div class="sidebar-logout">
                    <button class="btn" type="submit">Log Out</button>
                    </div>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a class="btn" href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>   
</body>
</html>
   
            