{% extends 'base.html' %}
{% block content %}
<ul class="collectibles">
    <ul class="bug-index">
        <div class="bug-link">
        <a href = "{% url 'bugs_index' %}">
            Bugs left: {{ bugs_left }}
        </a>
        </div>
    </ul>
    <ul class ="fish-index">
        <div class="fish-link">
        <a href = "{% url 'fish_index' %}">
            Fish left: {{ fish_left }}
        </a>
        </div>
    </ul>
    <ul class ="fossil-index">
        <div class="fossil-link">
        <a href = "{% url 'fossils_index' %}">
            Fossils left: {{ fossils_left }}
        </a>
        </div>
    </ul>
</ul>
{% endblock %}