body {
    background-image: url("https://images7.alphacoders.com/107/1075221.jpg");
   
}
.login-home {
    text-align: center;
}
.title-home {
    text-align: center;
}
.logo {
    .left-brand-logo {
        color: black;
    }
}
/* button {
    color: rgb(215, 227, 244);
}
form:hover {
    color: rgb(115, 177, 235);
}
ul.collectibles {
    background-color: rgb(242, 205, 162);
    a {
        text-align: center;
        justify-content: center;
    }
}
.bug-index{
    border: 3px solid black;
} */
div.about-page {
    color: rgb(242, 205, 162);
}

h1.about-about-page {
    text-align: center;
   
}