body {
    background-image: url("https://images7.alphacoders.com/107/1075221.jpg");
   
}
.login-home {
    text-align: center;
}
.title-home {
    text-align: center;
}
.logo {
    .left-brand-logo {
        color: black;
    }
}
