body {
    background-image: url("/static/nook-bg-aligned.jpg");
   
}
.login-home {
    text-align: center;
}
.title-home {
    text-align: center;
}
.logo {
    .left-brand-logo {
        color: black;
    }
}
.bug-link {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}   
.fish-link {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}   
.fossil-link {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}   
    
.bug-index{
    background-color: rgb(242, 205, 162);
    border: 3px solid black;
    padding: 0;
    margin: 50px;
    height: 75px;
} 
ul.fish-index{
    background-color: rgb(242, 205, 162);
    border: 3px solid black;
    padding: 0;
    margin: 50px;
    height: 75px;
} 
ul.fossil-index{
    background-color: rgb(242, 205, 162);
    border: 3px solid black;
    padding: 0;
    margin: 50px;
    height: 75px;
} 
div.about-page {
    color: rgb(242, 205, 162);
    background-color: white;
    margin: auto;
    border: 3px solid black;
}

h1.about-about-page {
    text-align: center;
    padding: 10px;
   
}
h4.about-text {
    margin: 10px;
    padding: 10px;
}
h3.text-title-2 {
    margin-left: 10px;
    padding: 10px;
}
h4.get-started-text {
    margin-left: 10px;
    padding: 10px;
}

.fishies, .bugz, .bonez {
    background-color: rgb(255,255,255,0.5);
    border: 5px solid black;
    border-radius: 10px;
    margin: 2px 2px;
}
/* .detail-buttons {
    text-align: right;
    margin-bottom: 20px;
} */
.bug-name {
    font-size: 28px;
    text-align: center;
    margin-bottom: 7px;
}
.fish-name {
    font-size: 28px;
    text-align: center;
    margin-bottom: 7px;
}
.fossil-name {
    font-size: 28px;
    text-align: center;
    margin-bottom: 7px;
}
.bug-image {
    text-align: center;
}
.fish-image {
    text-align: center;
}
.fossil-image {
    text-align: center;
}
/* .bug-got-it {
    margin-bottom: 50px;
} */
.detail-buttons {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
   
}
.fish-details-page {
    text-align: center;
    background-color: white;
    color: rgb(146, 163, 185);
    padding: 20px;
    font-size: 22px;
    border-radius: 20px;
    border: 3px solid black;
}
