{% extends 'base.html' %}
{% block content %}
<div class="config-title">
<h1>Current Fossils Donated to Museum</h1>
</div>
<div class="configuration-container">
    <div class="row">
    {% for fossil in fossils %}
        <div class="col l12 m12 s12">
            {% if fossil.name in fossils_donated %}
                <label class="checkbox-container">
                    <h4>{{ fossil.name|title }}</h4>
                    <img src="{{ fossil.image_url }}">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn" name="{{ fossil.name }}" value="Remove Donation">
                    </form>
                </label>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <div class="database-delete">
        <a href="{% url 'fossils_index' %}" type="submit" class="btn">Return to Main Page</a>
    </div>
</div>
{% endblock %}