{% extends 'base.html' %}
{% block content %}
<div class="config-title">
<h1>Configuration Page for Fossils</h1>
</div>
<form action="" method="POST">
    {% csrf_token %}
    <div class="configuration-container">
        <div class="row">
        {% for fossil in fossils %}
            <div class="col l12 m12 s12">
                {% if fossil.name in fossils_donated %}
                    <label class="checkbox-container">
                        <input type="checkbox" class="checkboxsize">
                        <span class="checkmark"></span>
                        <h4>{{ fossil.name|title }}</h4>
                        <img src="{{ fossil.image_url }}">
                    </label>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="database-delete">
            <input type="submit" class="btn" value="Confirm Changes">
        </div>
    </div>
</form>
{% endblock %}