{% extends 'base.html' %}
{% block content %}
<div class="fossil-title">
    <h1>Bonez!</h1>
    <a class="waves-effect waves-light btn" href="{% url 'fossils_config' %}">Configure List</a>
</div>
<div class="container">
    <div class="row">
        {% for fossil in fossils %}
            <div class="col l12 m12 s12 bonez">
                <div class="fossil-image">
                    <img src="{{fossil.image_url}}">
                </div>
                <div class="fossil-name">
                    <span>{{ fossil.name.title }}</span>
                </div>
                <div class="detail-buttons">
                    <div class="fossils-got-it">
                        <form method="POST" action="{% url 'fossil_got' fossil.name %}">
                            {% csrf_token %}
                            <input type="submit" value="Got it!" class="waves-effect waves-light btn">
                        </form>
                    </div>
                    <div class="fossils-details-btn">
                        <a class="waves-effect waves-light btn" href="{% url 'fossil_details' fossil.name %}">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}